<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--Ikke bruge denne<add name="SERVICE.Properties.Settings.internshipDBConnectionString"
            connectionString="Data Source=EAA-SH-SM-BO;Initial Catalog=internshipDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
        <!--<add name="SERVICE.Properties.Settings.FifthSemesterConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FifthSemester;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
      <add name="SERVICE.Properties.Settings.FifthSemesterConnectionString"
           connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FifthSemester;Integrated Security=True;
           Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
           providerName="System.Data.SqlClient"/>
      
    </connectionStrings>
  
  <!--<connectionStrings>
    <add name="BlogsDb" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Blogs.mdf;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
</configuration>