<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SERVICE.Properties.Settings.internshipDBConnectionString"
            connectionString="Data Source=EAA-SH-SM-BO;Initial Catalog=internshipDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SERVICE.Properties.Settings.FifthSemesterConnectionString"
            connectionString="Data Source=eaa-sh-sm-bo;Initial Catalog=FifthSemester;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>